@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="title" name="消息标题" underline="true"/>
                            <#input id="content" name="消息内容" underline="true"/>
                            <#select id="type" name="消息类型" underline="true">
                                <option value="1">系统消息</option>
                                <option value="2">工作通知</option>
                            </#select>
                </div>

                <div class="col-sm-6">
                            <#select id="publishOrg" name="发布机构" underline="true">
                                <option value="北京市安全生产监督管理局">北京市安全生产监督管理局</option>
                             </#select>
                            <#select id="publishDepartment" name="发布部门" underline="true">
                                <option value="安全监督管理一处">安全监督管理一处</option>
                                <option value="安全监督管理二处(新机场建设安全生产监管处)">安全监督管理二处(新机场建设安全生产监管处)</option>
                                <option value="安全监督管理三处">安全监督管理三处</option>
                             </#select>
                            <!--<#input id="status" name="" underline="true"/>-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TMessageInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TMessageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/tMessage/tMessage_info.js"></script>
@}
